main{
    padding: 10px;
    margin: 0 30px;
    box-shadow: 0 0 1rem 0.5rem #00000069;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid var(--borda);
    border-radius: 10px;
}
.graus_data_cidade{
    display: flex;
    align-items: center;
}
#graus{
    font-size: clamp(50pt, 10vw, 100pt);
    font-weight: 500;
    padding-right: 20px;
}
.graus_data_cidade div{
    margin-right: auto;
}
#cidade{
    font-size: clamp(20pt, 7vw, 50pt);
    font-weight: 500;
}
.bi-cloud-sun-fill{
    font-size: clamp(40px, 10vw, 200px);
}
